{% extends 'base.html.twig' %}

{% block title %}TirageList index{% endblock %}

{% block body %}
    <h1>TirageList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateTirage</th>
                <th>NumeroUn</th>
                <th>NumeroDeux</th>
                <th>NumeroTrois</th>
                <th>NumeroQuatre</th>
                <th>NumeroCinq</th>
                <th>EtoileUn</th>
                <th>EtoileDeux</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tirage_list in tirage_lists %}
            <tr>
                <td>{{ tirage_list.id }}</td>
                <td>{{ tirage_list.dateTirage ? tirage_list.dateTirage|date('Y-m-d') : '' }}</td>
                <td>{{ tirage_list.numeroUn }}</td>
                <td>{{ tirage_list.numeroDeux }}</td>
                <td>{{ tirage_list.numeroTrois }}</td>
                <td>{{ tirage_list.numeroQuatre }}</td>
                <td>{{ tirage_list.numeroCinq }}</td>
                <td>{{ tirage_list.etoileUn }}</td>
                <td>{{ tirage_list.etoileDeux }}</td>
                <td>
                    <a href="{{ path('app_tirage_list_show', {'id': tirage_list.id}) }}">show</a>
                    <a href="{{ path('app_tirage_list_edit', {'id': tirage_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tirage_list_new') }}">Create new</a>
{% endblock %}
