{% extends 'base.html.twig' %}

{% block title %}TirageList index{% endblock %}

{% block body %}
<div class="wrapper">
<div class="card">

    <h1>TirageList index</h1>
<div class="d-flex">
    <a class="btn btn-primary" href="{{ path('app_tirage_list_new') }}">Create new</a>
    <a class="btn btn-danger" href="{{ path('app_tirage_list_import') }}">import</a>
    <a class="btn btn-warning" href="{{ path('app_tirage_list_stats') }}">rend moi riche</a>
    </div>

<div class="card-header">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>DateTirage</th>
                <th>NumeroUn</th>
                <th>NumeroDeux</th>
                <th>NumeroTrois</th>
                <th>NumeroQuatre</th>
                <th>NumeroCinq</th>
                <th>EtoileUn</th>
                <th>EtoileDeux</th>
            </tr>
        </thead>
        </div>
        <div class="card-body">
        <tbody>
        {% for tirage_list in tirage_lists %}
            <tr>
                <td>{{ tirage_list.dateTirage ? tirage_list.dateTirage|date('Y-m-d') : '' }}</td>
                <td>{{ tirage_list.numeroUn }}</td>
                <td>{{ tirage_list.numeroDeux }}</td>
                <td>{{ tirage_list.numeroTrois }}</td>
                <td>{{ tirage_list.numeroQuatre }}</td>
                <td>{{ tirage_list.numeroCinq }}</td>
                <td>{{ tirage_list.etoileUn }}</td>
                <td>{{ tirage_list.etoileDeux }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </div>
    </table>
</div>
</div>
{% endblock %}
